@import "../mixins";
@import "../variables";

.pengurusCarousel {
  margin-top: 35px;

  .profilePhoto {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    min-width: 135px;
    min-height: 135px;
    object-fit: cover;
    object-position: center;

    &:hover {
      transition: $transition4s;
    }
  }

  .carouselSoc {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
    margin-top: 25px;
    img {
      filter: $mutedFilter;

      &:hover {
        filter: $whiteHoverFilter;
      }
    }
  }
}

.imgCarousel {
  width: 100%;
  max-width: 150px;
  max-height: 150px;
  height: 100%;
  display: flex;
  position: relative;
  border-radius: 50%;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  border: 5px solid $primaryColor;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

@media screen and (max-width: 300px) {
  .pengurusCarousel {
    .profilePhoto {
      min-width: 100px;
      min-height: 100px;
    }
  }
}

@media screen and (max-width: 340px) {
  .pengurusCarousel {
    .carouselSoc {
      img {
        width: 25px;
        height: 25px;
      }
    }
  }

  .imgCarousel {
    border: none;
    max-width: 100%;
    max-height: 100%;
    padding: 0;
  }
}

@include breakpoint(md) {
  .pengurusCarousel {
    margin-top: 50px;

    .profilePhoto {
      min-width: 150px;
      min-height: 150px;

      &:hover {
        transform: scale(0.9);
      }
    }
  }
}

@include breakpoint(lg) {
  .pengurusCarousel {
    .profilePhoto {
      min-width: 210px;
      min-height: 210px;
    }
  }

  .imgCarousel {
    max-width: 215px;
    max-height: 215px;
  }
}
