@import "../mixins";
@import "../variables";

.divisionLists {
  display: grid;
  grid-column: 1fr;
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
    "rafting"
    "gh"
    "rc"
    "caving"
    "selam";
  gap: 35px;
  transition: all 0.5s;
  margin-top: 35px;

  @include breakpoint(md) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas:
      "rafting gh caving"
      "rafting rc selam";
  }

  > div {
    .cardThumbnail {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: default;
      width: 100%;
      height: 100%;
      min-height: 175px;

      .bgWrapper {
        display: block;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: 0;
        z-index: -1;
        filter: brightness(35%);
        border-radius: 20px;
      }

      &:hover {
        transition: all 0.5s;

        @include breakpoint(md) {
          transform: scale(1.1);
        }
      }
    }

    .cardText {
      margin: 15px;
      color: white;

      .textInside {
        text-align: center;
        button {
          margin-left: auto;
          margin-right: auto;
        }

        h4 {
          margin: 0;
        }
      }
    }

    &:first-child {
      grid-area: rafting;
    }
    &:nth-child(2) {
      grid-area: gh;
    }
    &:nth-child(3) {
      grid-area: rc;
    }
    &:nth-child(4) {
      grid-area: caving;
    }
    &:last-child {
      grid-area: selam;
    }
  }
}
