@import "../mixins";
@import "../variables";

.divisionLists {
  display: grid;
  grid-column: 1fr;
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
    "rafting"
    "gh"
    "rc"
    "caving"
    "selam";
  gap: 35px;
  transition: $transition4s;
  margin-top: 50px;

  > div {
    .cardThumbnail {
      @include flexWrapper(200px);
      cursor: default;

      .bgWrapper {
        @include bgWrapper;
        z-index: -1;

        img {
          @include coverImg;
        }
      }

      &:hover {
        transition: $transition4s;
      }
    }

    .cardText {
      margin: 15px;
      color: white;

      h4 {
        margin: 0;
      }
    }

    &:first-child {
      grid-area: rafting;
    }
    &:nth-child(2) {
      grid-area: gh;
    }
    &:nth-child(3) {
      grid-area: rc;
    }
    &:nth-child(4) {
      grid-area: caving;
    }
    &:last-child {
      grid-area: selam;
    }
  }
}

@include breakpoint(md) {
  .divisionLists {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas:
      "rafting gh caving"
      "rafting rc selam";

    > div {
      .cardThumbnail {
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

@include breakpoint(xl) {
  .divisionLists {
    > div {
      .cardThumbnail {
        min-height: 350px;
      }
    }
  }
}
