@import "../variables";
@import "../mixins";

.hero {
  position: relative;
  .heroInside {
    .heroText {
      color: white;

      p {
        margin: 15px 0 50px;
      }

      h1 {
        margin-bottom: 0;
        color: white;
      }
    }

    .heroImg {
      display: none;
    }

    .heroSoc {
      display: flex;
      justify-content: space-evenly;
      padding: 35px 0;

      img {
        filter: $whiteFilter;

        &:hover {
          filter: $whiteHoverFilter;
        }
      }
    }
  }
}

@include breakpoint(md) {
  .hero {
    .heroInside {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .heroImg {
        display: block;
      }
    }
  }
}

@include breakpoint(lg) {
  .hero {
    .heroInside {
      padding: 0 0 0 75px;
      button {
        margin-left: 0;
        margin-right: 0;
      }
      .heroText {
        text-align: left;
      }
    }
  }
}
