@import "../variables";
@import "../mixins";

.hero {
  position: relative;

  .heroInside {
    text-align: center;

    button {
      margin-left: auto;
      margin-right: auto;

      @include breakpoint(md) {
        margin-left: 0;
        margin-right: 0;
      }
    }

    .heroText {
      p,
      h1 {
        color: white;
      }

      p {
        margin: 15px 0 50px;
      }

      h1 {
        margin-bottom: 0;
      }
    }

    .heroImg {
      display: none;
    }

    .heroSoc {
      padding: 35px 0;

      a {
        padding: 0 15px;
      }

      img {
        filter: $whiteFilter;

        &:hover {
          filter: $whiteHoverFilter;
        }
      }
    }
  }

  @include breakpoint(md) {
    .heroInside {
      display: grid;
      grid-template-columns: 1fr 1fr;

      @include breakpoint(lg) {
        text-align: left;
        padding: 0 0 0 75px;

        .heroSoc {
          text-align: center;
        }
      }

      .heroImg {
        display: block;

        @include breakpoint(lg) {
          text-align: center;
        }
      }
    }
  }
}
