@import "../mixins";
@import "../variables";

.sideNav {
  color: black;
  background-color: $semiMuted;
  width: 100%;
  height: max-content;
  border-radius: 0 0 20px 20px;

  .headerSideNav {
    display: flex;
    align-items: center;
    cursor: pointer;

    h4 {
      margin: 0;
    }

    img {
      margin-left: 15px;
      transition: $transition4s;
    }
  }

  @include breakpoint(md) {
    width: max-content;
    height: 100vh;
    border-radius: 0 20px 20px 0;
    padding: 35px 0;
    position: static;

    .headerSideNav {
      cursor: default;
      img {
        display: none;
      }
    }
  }

  .rotate90 {
    transform: rotate(90deg);
    transition: $transition4s;
  }

  .active {
    display: block !important;
    padding-bottom: 15px;
  }

  .bullets {
    list-style-type: disc;
    list-style-position: inside;
    font-weight: bold;
    color: $primaryColor;
  }

  .menu {
    list-style-type: none;
    padding-left: 0;
    display: none;

    li {
      margin: 0 0 35px 0;

      @include breakpoint(md) {
        margin: 35px 0;
      }

      a {
        &:hover {
          color: $primaryColor;
        }
      }
    }

    .submenu {
      list-style-type: none;
      padding-left: 20px;

      li {
        margin: 35px 0;
      }
    }

    @include breakpoint(md) {
      display: block;
    }
  }
}
