@mixin breakpoint($point) {
  @if $point==xxxs {
    @media (max-width: 300px) {
      @content;
    }
  } @else if $point==xxs {
    @media (min-width: 300px) {
      @content;
    }
  } @else if $point==xs {
    @media (min-width: 480px) {
      @content;
    }
  } @else if $point==sm {
    @media (min-width: 576px) {
      @content;
    }
  } @else if $point==md {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $point==lg {
    @media (min-width: 992px) {
      @content;
    }
  } @else if $point==xl {
    @media (min-width: 1400px) {
      @content;
    }
  } @else if $point==xxl {
    @media (min-width: 1600px) {
      @content;
    }
  }
}

@mixin flexWrapper($height) {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: $height;
  width: 100%;
  overflow: hidden;
}

@mixin bgWrapper {
  display: block;
  position: absolute;
  overflow: hidden;
  filter: brightness(25%);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
}

@mixin coverImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
