@mixin breakpoint($point) {
  @if $point==xxxs {
    @media (max-width: 300px) {
      @content;
    }
  } @else if $point==xxs {
    @media (min-width: 300px) {
      @content;
    }
  } @else if $point==xs {
    @media (min-width: 480px) {
      @content;
    }
  } @else if $point==sm {
    @media (min-width: 576px) {
      @content;
    }
  } @else if $point==md {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $point==lg {
    @media (min-width: 992px) {
      @content;
    }
  } @else if $point==xl {
    @media (min-width: 1400px) {
      @content;
    }
  } @else if $point==xxl {
    @media (min-width: 1600px) {
      @content;
    }
  }
}
