@import "./mixins";
@import "./variables";

.bg-blue {
  background-color: $primaryColor;
}

// Top Wrapper Hero
.topWrapper {
  position: absolute;
  height: 100vh;
  width: 100%;
  max-height: 525px;
  overflow: hidden;
  z-index: -1;

  @include breakpoint(xxxs) {
    max-height: 575px;
  }

  @media screen and (min-width: 500px) {
    max-height: 450px;
  }

  @include breakpoint(md) {
    max-height: 648px;
  }
}

.bgWrapper {
  @include bgWrapper;
  height: 100%;

  img {
    @include coverImg;
  }
}

.cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.radius-20 {
  border-radius: 20px;
}

.grid-col {
  display: grid;
  grid-template-columns: auto;

  &.two {
    @include breakpoint(md) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &.four {
    @include breakpoint(md) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}

// Container
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;

  @include breakpoint(md) {
    padding-left: 35px;
    padding-right: 35px;
  }

  @include breakpoint(lg) {
    padding-left: 75px;
    padding-right: 75px;
  }
}

.heading-line {
  max-width: fit-content;

  h1 {
    margin-bottom: 10px;
  }

  p {
    margin: 0;
    max-width: 720px;
  }
}

.line {
  width: 25%;
  border-bottom: 10px solid #a4a4a4;
  border-radius: 20px;
}

#blog {
  button {
    margin-top: 35px;

    @include breakpoint(md) {
      margin-top: 50px;
    }
    img {
      margin-right: 0;
    }
  }
}

#kontak {
  .grid-col {
    align-items: center;
    gap: 20px;
    &.two {
      button {
        img {
          margin-right: 0;
        }
      }
      @include breakpoint(md) {
        grid-template-columns: 2fr auto;
      }
    }
  }
}

#xpdc {
  @include flexWrapper(360px);
  video {
    @include bgWrapper;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
    z-index: -100;
  }

  .container {
    position: relative;
    color: white;
    max-width: 500px;

    button {
      margin: 25px auto 0;
    }

    h1 {
      color: white;
      margin: 0;
    }
  }
}

#docsLayout {
  &.grid-col {
    &.two {
      @include breakpoint(md) {
        grid-template-columns: auto 1fr;
      }
    }
  }
}
