// Color
$primaryColor: #100058;
$muted: #A4A4A4;
$semiMuted: #E5E5E5;

// Hovering
$whiteHover: #c0c0c0;
$primaryHover: #111159;

// Img filter
$whiteFilter: brightness(0) invert(1);
$primaryFilter: brightness(0) saturate(100%) invert(11%) sepia(25%);
$whiteHoverFilter: brightness(0) saturate(100%) invert(89%) sepia(1%) saturate(847%) hue-rotate(317deg) brightness(92%) contrast(79%);
$mutedFilter: brightness(0) saturate(100%) invert(66%) sepia(0%) saturate(7340%) hue-rotate(143deg) brightness(101%) contrast(87%);

// Font Family
$primaryFont: "Roboto", sans-serif;
$secondaryFont: "Open Sans", sans-serif;

// Transitions
$heightTransition: height 300ms linear;
$transition4s: all 0.4s;

// Box Shadow
$shadow20: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
$shadow10: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);

// Carousel
$slide-count: 5;
$slide-width: 30rem;

