@import "variables";
@import "mixins";
@import "./utils";
@import "~slick-carousel/slick/slick";
@import "~slick-carousel/slick/slick-theme";

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Halcom";
  src: url("/fonts/Roboto-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Thin.ttf");
  font-weight: 100;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-ThinItalic.ttf");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Light.ttf");
  font-weight: 200;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-LightItalic.ttf");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Black.ttf");
  font-weight: 900;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-ExtraBold.ttf");
  font-weight: 800;
}
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-ExtraBoldItalic.ttf");
  font-weight: 800;
  font-style: italic;
}

*::before,
*::after {
  box-sizing: border-box;
  outline: none;
  border: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  min-width: 100%;
  min-height: 100vh;
  font-family: $primaryFont;
  font-size: 14px;
  scroll-behavior: smooth;

  @include breakpoint(md) {
    font-size: 16px;
  }
}

h1 {
  font-size: 3rem;
  color: $primaryColor;
}

h4 {
  font-size: 1.5rem;
}

:is(p, span, ul, li) {
  font-family: $secondaryFont;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

section {
  margin: 50px 0 75px;
  width: 100%;

  @include breakpoint(md) {
    margin: 50px 0 150px;
  }
}

// Navbar
nav {
  position: sticky;
  top: 0;
  color: white;
  z-index: 100;
  width: 100%;
  padding: 15px 0;

  &.bg-blue {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: all 0.4s;
  }

  @include breakpoint(md) {
    padding: 25px 0;

    &.bg-blue {
      padding: 10px 0;
    }

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

// Footer
footer {
  position: static;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 35px 0;
  width: 100%;
  background-color: $primaryColor;

  ul {
    list-style-type: none;
    padding: 10px 0 0;

    li {
      padding: 8px 0;

      a:hover {
        color: $whiteHover;
      }
    }
  }

  h1,
  p,
  h4,
  ul {
    color: white;
  }

  h1 {
    margin: 0;
  }

  .grid-col {
    gap: 25px;
    align-items: center;
    text-align: center;

    @include breakpoint(md) {
      gap: 50px;
      text-align: left;

      &.four {
        grid-template-columns: 2fr 1fr 1fr 1fr;
        div {
          &:last-child {
            text-align: center;
          }
        }
      }
    }

    &.two {
      text-align: center;
      margin-top: 35px;

      div {
        a {
          padding: 0 15px;
          img {
            filter: $whiteFilter;
            &:hover {
              filter: $whiteHoverFilter;
            }
          }
        }

        @include breakpoint(md) {
          &:first-child {
            text-align: left;
          }
          &:last-child {
            text-align: right;
          }
        }
      }
    }
  }

  @include breakpoint(md) {
    padding: 50px 0;
  }
}

button {
  width: clamp(125px, 60vw, auto);
  height: clamp(35px, 60vh, 50px);
  border-radius: 20px;
  font-size: 1.125rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  outline: none;

  &.btn-primary {
    color: $primaryColor;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0 15px;

    &:hover {
      background-color: $whiteHover;
    }
  }

  &.btn-secondary {
    color: white;
    background-color: $primaryColor;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0 15px;

    img {
      filter: $whiteFilter;
      margin: 0 15px;
    }

    &:hover {
      background-color: $primaryHover;
    }
  }
}

.slick-slider {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 25px;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}
