@import "variables";
@import "mixins";

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Halcom";
  src: url("/fonts/Roboto-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Thin.ttf");
  font-weight: 100;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-ThinItalic.ttf");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Light.ttf");
  font-weight: 200;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-LightItalic.ttf");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Black.ttf");
  font-weight: 900;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-ExtraBold.ttf");
  font-weight: 800;
}
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-ExtraBoldItalic.ttf");
  font-weight: 800;
  font-style: italic;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: $primaryFont;
  font-size: 14px;
  overflow-x: hidden;

  @include breakpoint(md) {
    font-size: 16px;
  }
}

h1 {
  font-size: 3rem;
  color: $primaryColor;
}

:is(p, span, ul, li) {
  font-family: $secondaryFont;
}

a {
  color: inherit;
  text-decoration: none;
}

section {
  margin: 50px 0;
}

// Navbar
nav {
  position: sticky;
  color: white;
  width: 100vw;
  padding: 15px 0;

  @include breakpoint(md) {
    padding: 25px 0;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

// Footer
footer {
  position: static;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 35px 0;
  width: 100vw;
  background-color: $primaryColor;

  ul {
    list-style-type: none;
    padding: 10px 0 0;

    li {
      padding: 8px 0;

      a:hover {
        color: $whiteHover;
      }
    }
  }

  h1,
  p,
  h4,
  ul {
    color: white;
  }

  h1 {
    margin: 0;
  }

  .grid-col {
    gap: 25px;
    align-items: center;
    text-align: center;

    @include breakpoint(md) {
      gap: 50px;
      text-align: left;
    }

    &.four {
      div {
        &:last-child {
          text-align: center;
        }
      }
    }

    &.two {
      text-align: center;
      margin-top: 35px;

      div {
        a {
          padding: 0 15px;
          img {
            filter: $whiteFilter;
            &:hover {
              filter: $whiteHoverFilter;
            }
          }
        }

        @include breakpoint(md) {
          &:first-child {
            text-align: left;
          }
          &:last-child {
            text-align: right;
          }
        }
      }
    }
  }

  @include breakpoint(md) {
    padding: 50px 0;
  }
}

.grid-col {
  display: grid;
  grid-template-columns: auto;

  &.two {
    @include breakpoint(md) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &.four {
    @include breakpoint(md) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}

// Container
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;

  @include breakpoint(md) {
    padding-left: 35px;
    padding-right: 35px;
  }

  @include breakpoint(lg) {
    padding-left: 75px;
    padding-right: 75px;
  }
}

button {
  width: clamp(125px, 60vw, 150px);
  height: clamp(35px, 60vh, 50px);
  border-radius: 20px;
  font-size: 1.125rem;
  box-shadow: 0px 4px 4px 0px #0000001a;
  font-weight: bold;
  cursor: pointer;
  border: none;
  outline: none;

  &.btn-primary {
    color: $primaryColor;

    &:hover {
      background-color: $whiteHover;
    }
  }
}
