@import "./variables";
@import "./mixins";
@import "./utils.scss";

.cardBlogContainer {
    display: grid;
    gap: 35px;
    margin-top: 35px;

    @include breakpoint(md) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        margin-top: 50px;
    }

    @include breakpoint(lg) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: none;
    }
}
